<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="jason_consumer"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--注入服务-->
    <!--<dubbo:reference async="true" cache="true" interface="com.jason.freamwork.service.ServiceApi" id="HelloService" />-->
    <dubbo:annotation package="com.test.jason" />
    <!-- 加入spring注解扫描 -->
    <context:component-scan base-package="com.jason"/>
</beans>